@font-face {
    font-family: 'sao_uiregular';
    src: url('saoui-regular-webfont.woff2') format('woff2'),
         url('saoui-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}