@font-face {
    font-family: 'sao_uiregular';
    src: url('font/saoui-regular-webfont.woff2') format('woff2'),
         url('font/saoui-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}